.ab-tester {
  background: var(--ifm-background-color);
  padding: 1.5 rem 0rem;
}

.ab-tester h1 {
  text-align: center;
  margin-bottom: 1rem;
}

.ab-tester .input-row {
  display: flex;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

.ab-tester input {
  flex: 1;
  padding: 0.5rem;
  border-radius: 10px;
  border: 1px solid var(--ifm-background-color);
  background-color: #292d3e;
  color: #fff;
}

.ab-tester button {
  background: #292d3e; 
  color: #fff;                          
  border: 2px solid transparent;          
  border-radius: 10px;
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: border 0.3s ease, color 0.3s ease;
}

.ab-tester button:hover {
  color: var(--hover-color);         
}


.ab-tester textarea {
  width: 100%;
  font-family: monospace;
  border: 1px solid var(--ifm-background-color);
  border-radius: 10px;
  padding: 0.5rem;
  margin-bottom: 1rem;
  background-color: #292d3e;
  color: #fff;
}

.ab-tester .error-box {
  color: red;
  padding: 0.5rem;
  border-radius: 6px;
  margin-bottom: 1rem;
}

.ab-tester .response-box {
  background: #292d3e;
  color: var(--hover-color);
  padding: 1rem;
  border-radius: 10px;
  font-family: monospace;

  white-space: pre-wrap;     
  word-wrap: break-word;       
}
