.markdown-two-col {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 2rem 20rem 4rem;                   
  color: #fff;
}

.markdown-toc {
  position: sticky;
  top: 80px;
  flex: 0 0 240px;
  padding: 2rem 0rem 0rem 0rem;
  margin-right: 2rem; 
}

.markdown-toc::after {
  content: '';
  position: absolute;
  top: 2rem;          
  right: 0;
  width: 2px;
  height: calc(100% - 2rem);
  background-color: rgba(255,255,255,0.2);
}

.markdown-toc ul {
  list-style: none;
  padding: 0rem;
  margin: 0;
}

.main-link {
  color: #fff;
  font-weight: 600;
  background: none;
  border: none;
  text-align: left;
  cursor: pointer;
  font-size: 1.05rem;
  padding: 0rem 0rem 0.5rem 0rem;
  width: 100%;
  transition: color 0.2s ease;
}

.main-link:hover {
  color: #00bfff;
}

.main-link.active {
  color: #00bfff;
}

.sub-list {
  margin-left: 0.8rem;
  margin-top: 0.3rem;
  border-left: 2px solid rgba(255, 255, 255, 0.15);
}

.sub-list a {
  color: #ccc;
  text-decoration: none;
  font-size: 0.95rem;
}

.sub-list a:hover {
  color: #00bfff;
}

/* RIGHT CONTENT */
.markdown-content {
  color: #e5e5e5;
  line-height: 1.7;
  margin-top: 2rem;
}

.markdown-spacer-card {
  position: fixed;
  top: 0;                     
  left: 0;
  width: 100%;
  height: 7rem;               
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;                
  background: #121212;
}


