:root {
  --ifm-color-primary: #1e1e1e;    
  --ifm-color-secondary: #ffffff;     
  --ifm-background-color: #121212;    
  --ifm-color-gray-100: #e0e0e0;     
}

body {
  background-color: var(--ifm-background-color);
  color: var(--ifm-color-secondary);
}

a {
  color: var(--ifm-color-primary);
}

.navbar__items {
  justify-content: center !important;
}
.navbar__brand,
.navbar__link {
  color: white !important;
}

.navbar__link:hover {
  color: #1abc9c !important;
}
.navbar__logo {
  margin-right: 0; 
}
