.dashboard-container {
  max-width: 1100px;
  margin: 3rem auto;
  padding: 2rem;
  border-radius: 20px;
  background: var(--ifm-background-color);
  transition: background 0.3s ease, color 0.3s ease;
}

/* Remove side padding for screens < 1000px */
@media (max-width: 600px) {
  .dashboard-container {
    padding-left: 0;
    padding-right: 0;
  }
}

.dashboard-title {
  text-align: center;
  margin-bottom: 1.5rem;
  transition: color 0.3s ease;
  cursor: pointer;
}

.dashboard-controls {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  margin-bottom: 1.5rem;
  flex-wrap: wrap;
}

.dashboard-controls label {
  margin-right: 0.3rem;
}

.dashboard-input {
  width: 80px;
  padding: 0.4rem;
  border-radius: 8px;
  border: 1px solid var(--ifm-background-color); /* border = background */
  background: var(--ifm-background-color);       /* background */
  transition: all 0.2s ease;
  color: inherit; /* text color controlled by chartColors */
}

/* Hover */
.dashboard-input:hover {
  border-color: var(--hover-color);
  color: var(--hover-color);
}

/* Focus / click */
.dashboard-input:focus {
  outline: none;
  border-color: var(--hover-color);
  color: var(--hover-color);
}


.plot-container {
  width: 100%;
  overflow: hidden;
  border-radius: 12px;
  background: var(--background-color);
  position: relative;
  /* Default height for large screens */
  height: 600px;
  padding: 1rem;
}

/* Smaller plot height for screens below 1000px */
@media (max-width: 600px) {
  .plot-container {
    height: 400px;
    padding: 0.5rem;
  }
}

.loading-message,
.error-message {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.plot-container.js-plotly-plot {
  padding: 0 !important;   /* remove container padding */
  margin: 0 auto !important;
}

.plot-container .gl-container {
  left: 0 !important;      /* remove internal offset */
  width: 100% !important;  /* full width */
}

.plot-container .modebar-container {
  right: 0 !important;     /* ensure modebar doesn't add extra space */
}

.plot-container svg.main-svg,
.plot-container canvas {
  width: 100% !important;  /* make SVG and Canvas scale to full width */
  height: 100% !important;
}

.plot-container .plotly{
  padding: 0 !important;   /* remove container padding */
  margin: 0 auto !important; 
}